<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-RobertoRomeroVielma-A00822314/blob/main/Semana_2_Actividad_1_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Nombre del alumno: Roberto Romero Vielma
* Matrícula: A00822314

# Módulo 4

## Reading files with open
El archivo es un objecto del cual podemos sacar sus propiedades

**Traemos la raw data para usarla localmente**

In [1]:
import urllib.request
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"
filename="Example1.txt"
urllib.request.urlretrieve(url,filename)

('Example1.txt', <http.client.HTTPMessage at 0x7ff7e305d1d0>)

* w = write o escribir
* r= read o leer
* a= append o anexar

In [2]:
File1=open("Example1.txt","r")

open es la función, el primer argumento es el nombre y la ruta del archivo, el segundo es el modo (w, r, a)

In [3]:
File1.mode #muestra el modo

'r'

In [4]:
File1.name #muestra el nombre del archivo

'Example1.txt'

Podemos leer el archivo y lo asignamos a una variable

In [5]:
FileContent=File1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [6]:
File1.close()

close () es para cerrar el documento, para que no sea tedioso estar cerrando el archivo cada vez, podemos usar una declarar **with** para cerrarlo en automático

In [7]:
with open("Example1.txt","r") as File1: #File object =File1

  file_stuff=File1.read() #el método read guarda los valores del archivo en la variable file_stuff como un string

  print(file_stuff) #antes del True

print(File1.closed)
print(file_stuff) #Después del True

This is line 1
This is line 2
This is line 3
True
This is line 1
This is line 2
This is line 3

Podemos imprimir la variable file_stuff para ver su contenido

In [8]:
print(file_stuff)

This is line 1
This is line 2
This is line 3

In [9]:
file_stuff #si solo llamamos la variable obtenemos el raw string

'This is line 1 \nThis is line 2\nThis is line 3'

También podemos leer las lineas dentro del archivo

In [10]:
with open("Example1.txt","r") as File1:

  file_stuff=File1.readlines() #esto nos muestra todas las lineas
  print(file_stuff)

['This is line 1 \n', 'This is line 2\n', 'This is line 3']

In [11]:

with open("Example1.txt","r") as File1:

  file_stuff=File1.readline() #esto nos muestra la primera linea
  print(file_stuff)
  file_stuff=File1.readline() #esto nos muestra la segunda linea
  print(file_stuff)

This is line 1

This is line 2

Podemos mostrar todas las lineas dentro de un loop

In [12]:
with open("Example1.txt","r") as File1:
  for line in File1:
    print(line)

This is line 1

This is line 2

This is line 3

Adicionalmente se puede mostrar solo una parte de cada línea asignandole un valor númerico dentro de readlines

In [13]:
with open("Example1.txt","r") as File1:

  file_stuff=File1.readlines(4)
  print(file_stuff)

['This is line 1 \n']

In [14]:
with open("Example1.txt","r") as File1:

  file_stuff=File1.read(16) #agarra las primeras 16 posiciones
  print(file_stuff)
  file_stuff=File1.read(5) #agarra las siguientes 5 posiciones
  print(file_stuff)
  file_stuff=File1.read(9) #agarra las siguientes 9 posiciones
  print(file_stuff)

This is line 1

This
is line 2

## Writing Files with Open

El método write sirve para escribir datos dentro de un archivo

**Creamos un archivo txt de la siguiente manera**

In [15]:
File1=open("Example2.txt","w")

Usamos la función open, usamos como primer argumento la ruta, al final de la ruta ponemos el nombre que queremos para el archivo, el segundo argumento es el modo que en este caso es w o write

Para añadir líneas al txt hacemos lo siguiente (sino existe el archivo lo crea):

In [16]:
with open("Example2.txt","w") as File1:
  File1.write("This is line A\n") #write es para checar una línea dentro del txt
  File1.write("This is line B\n") #cuando se ejecuta hasta aquí se cierra la función open

Podemos crear cada elemento en una lista a un archivo

In [17]:
Lines=["This is line A\n","This is line B\n","This is line C\n"]
with open("Example2.txt","w") as File1:
  for line in Lines: #usamos un ciclo for para leer cada elemento dentro de la lista Lines y la pasamos a la variable line
    File1.write(line) #al final se cierra la función open

Para no crear un nuevo archivo, sino usar el existente se utiliza el método append

In [18]:
with open("Example2.txt","a") as File1:
  File1.write("This is line C") #esto crea una nueva linea abajo de todo lo existente en el txt y después lo cierra

Creamos un nuevo archivo txt a partir de uno existente de la siguiente forma:

In [19]:
with open("Example1.txt","r") as readfile: #archivo que deseamos copiar
  with open("Example3.txt","w") as writefile: #archivo nuevo donde deseamos copiar en el archivo Example1.txt
    for line in readfile: #ciclo for donde readfile es la lista y line la variable que incrementa
      writefile.write(line)

# Loading Data with Pandas
Pandas sirve para cargar datos (muy popular para el análisis de datos)

Para importar la librería de pandas usamos el siguiente comando

In [20]:
import pandas

Clases y funciones de pandas:
* read_csv()
* Series()
* DataFrame
* values

Para cargar un archivo se hace de la siguiente manera:

In [21]:
csv_path="https://raw.githubusercontent.com/rromerov/fires-across-Australia/main/file1.csv" #link desde donde proviene el archivo csv
df=pandas.read_csv(csv_path) #de esta manera cargamos el archivo csv

La forma para evitar escribir pandas tantas veces es renombrándolo de esta forma:

In [22]:
import pandas as pd # as seguido del apodo que le queremos pd es el más común
csv_path="https://raw.githubusercontent.com/rromerov/fires-across-Australia/main/file1.csv" #link desde donde proviene el archivo csv
df=pd.read_csv(csv_path)

También le podemos poner el apodo que queramos

In [23]:
import pandas as banana
csv_path="https://raw.githubusercontent.com/rromerov/fires-across-Australia/main/file1.csv" #link desde donde proviene el archivo csv
df=banana.read_csv(csv_path)

## Dataframes

In [24]:
csv_path="https://raw.githubusercontent.com/rromerov/fires-across-Australia/main/file1.csv"
df=pd.read_csv(csv_path) #creamos una variable que se llama df, abreviatura de dataframe
df.head() #el método head() sirve para mostrar los primeros 5 registros del dataframe

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [25]:
# convertimos el csv a xlsx para usar el método pd.read_excel
excel = pd.ExcelWriter('file1.xlsx') #nombre que queremos para el archivo
df.to_excel(excel, index=False) #convertir csv a excel
 
excel.save() #lo guardamos localmente

El proceso para cargar un excel es parecido al del csv

In [26]:
xlsx_path="file1.xlsx" #ruta del archivo
df=pd.read_excel(xlsx_path) #método para cargar archivo excel
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27,3885,661,1537,606,6.6085,344700
1,-118.30,34.26,43,1510,310,809,277,3.5990,176500
2,-117.81,33.78,27,3589,507,1484,495,5.7934,270500
3,-118.36,33.82,28,67,15,49,11,6.1359,330000
4,-119.67,36.33,19,1241,244,850,237,2.9375,81700

Un dataframe está compuesto de filas y columnas. Se puede crear un dataframe de un diccionario

* La llaves corresponen a las etiquetas de las columnas
* Los valores son las listas que co,rresponden a las filas

In [27]:
songs={"Album":["Thriller","Back in Black","The Dark Side of the Moon","The Bodyguard","Bat Out of Hell"], 
       "Released":[1982,1980,1973,1992,1977],
       "Length":["00:42:19","00:42:11","00:42:49","00:57:44","00:46:33"]}

In [28]:
songs_frame=pd.DataFrame(songs) #la función DataFrame convierte el diccionario en un dataframe

In [29]:
songs_frame.head()

                       Album  Released    Length
0                   Thriller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark Side of the Moon      1973  00:42:49
3              The Bodyguard      1992  00:57:44
4            Bat Out of Hell      1977  00:46:33

* Las llaves corresponden a los nombres de las columnas en el dataframe
* Los valores corresponden a las filas

Podemos crear un nuevo dataframe que consiste de una sola columna de otro dataframe

In [30]:
X=df["longitude"]

También se pueden seleccionar varias columnas de un dataset para crear uno nuevo

In [31]:
Y=df[["longitude","latitude","housing_median_age"]]

Para seleccionar elementos únicos dentro del dataframe usamos el método iloc (ix obsoleto)

In [32]:
df.iloc[0,0] # primero va la fila y después la columna

-122.05

In [33]:
df.iloc[1,0] #segunda fila y primer columna

-118.3

In [34]:
df.iloc[0,2] #primera fila y tercera columna

27

In [35]:
df.iloc[1,2] #segunda fila y tercera columna

43

Para usar valor númerico de la posición de la fila y el nombre de la columna usamos **loc**

In [36]:
df.loc[0,"longitude"] #primera fila y columna "longitude"

-122.05

In [37]:
df.loc[1,"longitude"] #segunda fila y columna "longitude"

-118.3

In [38]:
df.loc[0,"latitude"] #primera fila y columna "latitude"

37.37

In [39]:
df.loc[1,"latitude"] #segunda fila y columna "latitude"

34.26

También se puede recortar un dataframe y asignar los valores a un nuevo dataframe

In [40]:
z=df.iloc[0:2,0:3] #desde la primera fila hasta la segunda y desde la primer columna a la tercera
print(z)

   longitude  latitude  housing_median_age
0    -122.05     37.37                  27
1    -118.30     34.26                  43

Por último se puede seleccionar también el nombre de las columnas

In [41]:
z=df.loc[0:2,"longitude":"latitude"] # desde la primera fila hasta la segunda, desde la columna longitud hasta la latitud
print(z)

   longitude  latitude
0    -122.05     37.37
1    -118.30     34.26
2    -117.81     33.78

In [42]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

## Working with and Saving Data with Pandas

Método para determinar los elementos únicos de una columna dentro de un dataframe

In [43]:
songs_frame["Released"].unique() #el método unique muestra los elementos únicos dentro de la columna Released

array([1982, 1980, 1973, 1992, 1977])

Podemos usar operadores lógicos dentro de una columna de un dataframe, lo que obtenemos es una serie de valores booleanos que regresarán falso o verdadero dependiendo de la operación que hagamos

In [44]:
songs_frame["Released"]>=1980

0     True
1     True
2    False
3     True
4    False
Name: Released, dtype: bool

In [45]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

Para seleccionar ciertas filas que cumplan una condición hacemos lo siguiente:

In [46]:
df1=songs_frame[songs_frame["Released"]>=1980] #el dataframe va dentro de los corchetes del mismo dataframe, seguido del operador lógico
print(df1)

           Album  Released    Length
0       Thriller      1982  00:42:19
1  Back in Black      1980  00:42:11
3  The Bodyguard      1992  00:57:44

### Save as CSV
Guardamos el dataframe como un archivo csv de la siguiente manera:

In [47]:
df1.to_csv("new_songes.csv") #el método es to_csv y tiene como argumento el nombre que queremos para el archivo

In [48]:
df.to_csv("file.csv")

**Nota:** Existen otras funciones para guardar el dataframe en otros formatos

## Labs
Usamos urllib.request para trabajar localmente

In [49]:
import urllib.request
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"
filename="Example1.txt"
urllib.request.urlretrieve(url,filename)

('Example1.txt', <http.client.HTTPMessage at 0x7ff7e52ac410>)

Para leer el archivo hacemos lo siguiente:

In [50]:
example1 = "Example1.txt"
file1 = open(example1, "r")

Los atributos del archivo se obtienen de la siguiente manera:

In [51]:
file1.name #nombre del archivo

'Example1.txt'

In [53]:
file1.mode #modo del archivo r, w o a

'r'

Podemos leer el archivo y asignarlo a una variable

In [54]:
FileContent=file1.read() #\n es para saltar a otra linea
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [56]:
print(FileContent) #Al usar print con la variable asignado nos muestra el archivo txt

This is line 1
This is line 2
This is line 3

In [57]:
type(FileContent) #Nos dirá el tipo de variable que es

str

Al terminar de usar el archivo es importante **cerrarlo**

In [58]:
file1.close() #esto se hace para ahorrar recursos

Para no estar abriendo y cerrando el archivo es mejor usar **with** como se muestra a continuación

In [59]:
with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [61]:
file1.closed #verificamos que esté cerrado

True

In [62]:
print(FileContent) #podemos ver la información del archivo

This is line 1
This is line 2
This is line 3

Para leer las primeras 4 letras del archivo hacemos uso del método read y dentro ponemos el número de carácteres

In [63]:
with open(example1, "r") as file1:
    print(file1.read(4))

This

In [65]:
with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))  #siguientes 4 carácteres

This
 is

In [66]:
with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [67]:
with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

También se puede leer una sola línea del archivo con el método readline()

In [68]:
with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

Si dentro de readline ponemos en número de carácteres, este método solo regresará lo que este dentro de esa línea

In [70]:
with open(example1, "r") as file1:
    print(file1.readline(20))  #se queda todo en la línea 1
    print(file1.read(20)) #continua después de la línea 2

This is line 1

This is line 2
This

Uso del ciclo

In [71]:
with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

Guardamos el archivo de texto como una lista mediante el método **readlines()**

In [72]:
with open(example1, "r") as file1:
    FileasList = file1.readlines()

Para acceder a esta información usamos la variable y la posición que deseamos conocer:

In [73]:
FileasList[0]

'This is line 1 \n'

In [74]:
FileasList[0]

'This is line 1 \n'

Para escribir en los archivos usamos el método **write()**. Nota: Si el archivo no existe el método write lo crea junto que queramos poner dentro

In [76]:
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [77]:
with open(exmp2, 'r') as testwritefile: #verificamos que se pueda leer
    print(testwritefile.read())

This is line A

Escribimos líneas dentro del archivo

In [78]:
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [80]:
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read()) #verificamos que está escrito

This is line A
This is line B

Para añadir una lista al texto hacemos lo siguiente:

In [82]:
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"] #lista
with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

Verificamos que se encuentre todo en el archivo

In [83]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

Hay que tener cuidado con el método write, ya que si lo ejecutamos de nuevo va a sobrescribir lo que lleve dentro

In [84]:
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

Para evitar eso usamos el método **append**

In [85]:
with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [86]:
with open('Example2.txt', 'r') as testwritefile: #verificamos si funciono
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E

Modos adicionales
* r+: Leer y escribir. No puede truncar el archivo
- w+: Escribir y leer. Trunca el archivo
- a+ Anexar y leer. Crea un archivo si no existe

In [87]:
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

Para saber la posición iniciarl con a+, hacemos lo siguiente:

In [88]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) 
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 70
Read nothing

New Location : 0
Overwrite
This is line C
This is line D
This is line E
This is line E

Location after read: 70

Para trabajar con datos existentes usar r+ o a+

In [89]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) 
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
is line D
This is line E
This is line E

Copiar un archivo

In [90]:
with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

Verificar que se haya copiado

In [91]:
with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
is line D
This is line E
This is line E

### Ejercicio: Implementar la función cleanFiles

In [93]:
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [94]:
def cleanFiles(currentMem,exMem):
    with open(currentMem,'r+') as writeFile: 
        with open(exMem,'a+') as appendFile:
            writeFile.seek(0)
            members = writeFile.readlines()
            header = members[0]
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)]
            '''
            The above is the same as 

            for member in members:
            if 'no' in member:
                inactive.append(member)
            '''
            writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()
                
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)

headers = "Membership No  Date Joined  Active  \n"

with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    52358      2018-2-23    yes
    48745      2015-4-3     yes
    68870      2016-8-15    yes
    44090      2020-6-9     yes
    33754      2020-3-22    yes
    60445      2020-6-23    yes
    30276      2017-9-14    yes
    17032      2019-4-4     yes
    20040      2019-9-25    yes

Inactive Members:


Membership No  Date Joined  Active
    33046      2016-3-21    no
    59427      2019-1-1     no
    11799      2019-11-10   no
    24659      2017-9-25    no
    92889      2015-4-1     no
    85855      2016-11-25   no
    70832      2017-7-12    no
    80380      2018-9-1     no
    59026      2016-5-21    no
    44486      2016-9-1     no
    15173      2017-10-14   no
    64600      2020-9-8     no
    39714      2015-2-25    no
    57280      2015-7-9     no

Active Members:


Membership No  Date Joined  Active
    52358      2018-2-23    yes
    48745      2015-4-3     yes
    68870      2016-8-15    yes
    44090      2020-6-9     yes
    33754      2020-3-22    yes
    60445      2020-6-23    yes
    30276      2017-9-14    yes
    17032      2019-4-4     yes
    20040      2019-9-25    yes

Inactive Members:


Membership No  Date Joined  Active
    33046      2016-3-21    no
    59427      2019-1-1     no
    11799      2019-11-10   no
    24659      2017-9-25    no
    92889      2015-4-1     no
    85855      2016-11-25   no
    70832      2017-7-12    no
    80380      2018-9-1     no
    59026      2016-5-21    no
    44486      2016-9-1     no
    15173      2017-10-14   no
    64600      2020-9-8     no
    39714      2015-2-25    no
    57280      2015-7-9     no

In [95]:
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Test Passed

Para cargar archivos se usa pandas

In [100]:
csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv' #leer archivo csv alojado en un sitio web
df = pd.read_csv(csv_path)

In [97]:
df.head() #muestra los primeros 5 elementos

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [101]:
xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx' #leer un archivo xlsx desde el sitio web

df = pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [102]:
x = df[['Length']] #mostrar únicamente una columna
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

Para hacer la columna una serie, se hace de la siguiente manera

In [104]:
x=df["Length"]
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

In [105]:
x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [106]:
x = df['Artist']
type(x)

pandas.core.series.Series

Acceder a diferentes columnas se hace así:

In [107]:
y = df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

In [108]:
df.iloc[0, 0] #para seleccionar elementos únicos en el dataframe

'Michael Jackson'

Primero se específica la fila y después la columna

In [109]:
df.iloc[1,0]

'AC/DC'

In [110]:
df.iloc[0,2]

1982

In [111]:
df.iloc[1,2]

1980

Para acceder a una fila y columna, sabiendo el nombre de la columna se usa el método loc

In [112]:
df.loc[1, 'Artist']

'AC/DC'

In [113]:
df.loc[0, 'Released']

1982

Se pueden seleccionar ciertas filas usando tanto iloc como loc

In [115]:
df.iloc[0:2, 0:3] #fila 1 y 2, columnas 1, 2 y 3

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [117]:
df.loc[0:2, 'Artist':'Released'] #también se puede hacer de esta manera

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

### Quiz seleccionar la columna "Rating" y guardarla dentro de la variable **q** como dataframe

In [118]:
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

Asignar la variable **q** al dataframe que este hecho de las columnas **Released** y **Artist**

In [120]:
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

Acceder a la segunda fila y tercera columna del dataframe

In [121]:
df.iloc[1,2]

1980

Usar la siguiente lista para convertir el index del dataframe *df* a carácteres y asignarlos al df_new; encontrar el elemento correspondiente al index de la fila *a* y columna "Artist". Depués seleccionar las filas *a* hasta *d* para la columna "Artist"

In [123]:
new_index=['a','b','c','d','e','f','g','h']
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

Pandas arrays

In [127]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]}) # convierte el diccionario en un dataframe

In [128]:
df.head(3) #muestra las primeras 3 filas

    a   b
0  11  21
1  21  22
2  31  23

In [129]:
df["a"] #obtener la columna a

0    11
1    21
2    31
Name: a, dtype: int64

In [131]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [134]:
df.a.unique() #mostrar valores únicos en la columna a del dataframe

array([1, 2])

In [136]:
df[df["a"]<2] #mostrar valores que son menores a 2 dentro del dataframe

   a  b
0  1  1
2  1  1

In [137]:
#diccionario
x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

#convertirlo a dataframe
df = pd.DataFrame(x)

#mostrar el resultado
df

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000

In [138]:
x = df[['ID']] #seleccionar columna deseada
x #mostrarla

   ID
0   1
1   2
2   3
3   4

In [139]:
type(x) #checar el tipo de variable

pandas.core.frame.DataFrame

In [140]:
z = df[['Department','Salary','ID']] #acceder a varias columnas
z

        Department  Salary  ID
0  Architect Group  100000   1
1   Software Group   80000   2
2      Design Team   50000   3
3   Infrastructure   60000   4

### Ejercicio: Crear un dataframe a partir de un diccionario

In [142]:
a = {'Student':['David', 'Samuel', 'Terry', 'Evan'],
     'Age':['27', '24', '22', '32'],
     'Country':['UK', 'Canada', 'China', 'USA'],
     'Course':['Python','Data Structures','Machine Learning','Web Development'],
     'Marks':['85','72','89','76']}
df1 = pd.DataFrame(a)
df1

  Student Age Country            Course Marks
0   David  27      UK            Python    85
1  Samuel  24  Canada   Data Structures    72
2   Terry  22   China  Machine Learning    89
3    Evan  32     USA   Web Development    76

Asignar a **b** la columna marks

In [143]:
b = df1[['Marks']]
b

  Marks
0    85
1    72
2    89
3    76

Recuperar las columnas country y course, y asignarlas a la variable c

In [144]:
c = df1[['Country','Course']]
c

  Country            Course
0      UK            Python
1  Canada   Data Structures
2   China  Machine Learning
3     USA   Web Development

In [145]:
x = df['Name']
x

0    Rose
1    John
2    Jane
3    Mary
Name: Name, dtype: object

In [146]:
type(x)

pandas.core.series.Series

In [147]:
df.iloc[0,0]

'Rose'

In [148]:
df.iloc[0,2]

'Architect Group'

In [149]:
df.loc[0, 'Salary']

100000

In [150]:
df2=df
df2=df2.set_index("Name") #set_index es para indicar la columna que queremos usar como indice

In [151]:
df2.head()

      ID       Department  Salary
Name
Rose   1  Architect Group  100000
John   2   Software Group   80000
Jane   3      Design Team   50000
Mary   4   Infrastructure   60000

In [152]:
df2.loc['Jane', 'Salary']

50000

### Ejercicios
Obtener el departamento donde trabaja Jane

In [153]:
df2.loc["Jane","Department"]

'Design Team'

Usar iloc() para conocer el salario de Mary

In [154]:
df2.iloc[3,2]

60000

Slicing

In [155]:
df.iloc[0:2, 0:3]

   Name  ID       Department
0  Rose   1  Architect Group
1  John   2   Software Group

In [156]:
df.loc[0:2,'ID':'Department']

   ID       Department
0   1  Architect Group
1   2   Software Group
2   3      Design Team

In [157]:
df2.loc['Rose':'Jane', 'ID':'Department']

      ID       Department
Name
Rose   1  Architect Group
John   2   Software Group
Jane   3      Design Team

  Usando loc, hacer un slicing a al viejo dataframe **df** y recuperar el nombre, el ID y el departamento de la columna de índice que tiene etiquetas como 2,3

In [158]:
df.loc[2:3,'Name':'Department']

   Name  ID      Department
2  Jane   3     Design Team
3  Mary   4  Infrastructure